.container {
    justify-content: center;
}

.rowContainer {
    display: flex;
    padding: 1vw;
    flex-direction: row;
}

.columnContainer {
    display: flex;
    padding: 1vw;
    flex-direction: column;
}

.column {
    padding: 0 1vw;
}

.chessBoardContainer {
    width: 48vh;
    min-width: 500px;
}

.button {
    padding: 5px;
    margin: 5px;
    background: green;
    border: none;
}